body {
    background-color: black;
}

#game-environment {
    height: 100vh;
    background: url('../img/background-pixelated.png') no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
#player {
    position: absolute;
    border: 2px solid red;
    background: url('../img/haku-chihiro-in-pixels.png') no-repeat;
    padding: 40px 40px 40px 40px;
    margin:  -40px  -40px  -40px  -40px;
    background-size: 100% 100%;
}
.obstacle {
    position: absolute;
    background-color: blueviolet;
}
.modal {
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }